.formControl {
    width: 30%;
    margin-bottom: 30px !important;
    border-radius:20px;
    -webkit-box-shadow: 17px -7px 5px -10px rgba(0,0,0,0.62);
    -moz-box-shadow: 17px -7px 5px -10px rgba(0,0,0,0.62);
    box-shadow: 17px -7px 5px -10px rgba(0,0,0,0.62);

}