body {
    background-color: rgba(6, 5, 5, 0.173);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
}
